<!DOCTYPE html>
<!--
Line 5 is the definition of a thymeleaf html page!!! (***xml- ns - the ns is name space)
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Persons</title>
</head>
<body>
   <form method="post" action="/person/createHandler">
        <input type="text" placeholder="First Name" name="fn">
        <input type="text" placeholder="Last Name" name="ln">
        <input type="number" placeholder="Age" name="age">
       <button type="submit">Submit</button>
   </form>
</body>
</html>